div.uw-hero-image {
    background-image:url('../images/registrar-line.jpg');
}

#page-content,
#wordmark-header,
.dawgdrops-inner,
div.breadcrumbs-container,
div.page-width {
    width:65%;
    margin-left:auto;
    margin-right:auto;
}

h1.site-title {
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    color:white;
    position:absolute;
    top:30px;
    font-family: "Encode Sans Compressed",sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}